.btn__primary {
  background-color: #C41E4A !important;
  font-family: 'Lora' !important;
  padding: 10px 20px !important;
}

.btn__primary:hover {
  background-color: #A30023 !important;
}

.primary__font {
  font-family: 'Lora' !important;
}

.navbar {
  border-bottom: 1px solid #c41e4a5e !important;
}

.video__var {

  position: relative;
}

.intro__title {
  position: absolute;
  background-image: linear-gradient(to right, #2c000aca, #c41e4a5b, #2c000aca);
  /* background-color: #a300235b; */
  width: 100%;
  height: 100%;
  font-size: 100px;
  color: white;
  font-family: 'Lora' !important;
  z-index: 2;

}

.title__text {
  color: #A30023 !important;
  font-family: 'Lora' !important;
  font-size: 50px !important;
  font-weight: bold;
}

.normal__text {
  font-family: 'Lora' !important;
  /* text-align: center !important; */
}

.user-Data-table {
  background-color: #f0cd94 !important;
  /* background-color: #f3e8d68e !important; */
}
.border__red {
  border-bottom: 1px solid #a300232e !important;
}

/* profile responsive text */
@media  screen and (max-width:994px) {
  .res__text{
    font-size: 25px !important;
  }
}
@media  screen and (max-width:876px) {
  .res__text{
    font-size: 23px !important;
  }
}